


.container {
  display: flex;
  justify-content: space-between;
}

.image-section, .content-section {
  width: 49%;
  color: #fff;
}

.image-section img {
  width: 100%;
}

.content-section h2{
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: aqua;
} 

.content-section p{
    margin: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
} 

span{
    font-size: large;
    color: aquamarine;
    background-color: black;
    
}

.content-section ol{
    margin: 10px;
    margin: 30px;
}
